@import url('https://fonts.googleapis.com/css2?family=Syne:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'sans-serif';
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

/* footer {
    visibility: hidden;
}

header {
    visibility: hidden;
} */